.box1 {
    text-align: justify;
}

.images {
    height: auto;
    width: 100%;
}


/* .i1 {
    height: 300px;
    width: 25%;
}

.i1 img {
    height: 300px;
    width: 100%;
}

.i2 {
    height: 300px;
    width: 25%;
}

.i2 img {
    height: 300px;
    width: 100%;
}

.i3 {
    height: 300px;
    width: 25%;
}

.i3 img {
    height: 300px;
    width: 100%;
}

.i4 {
    height: 300px;
    width: 25%;
}

.i4 img {
    height: 300px;
    width: 100%;
} */

.block {
    height: 150px;
}