* {
    margin: 0%;
    box-sizing: border-box;
}

.header {
    height: 30px;
    width: 100%;
    background-color: brown;
    color: white;
    line-height: 30px;
    display: flex;
}

.menu {
    height: 30px;
    width: 80%;
}

.s1 {
    padding-left: 20px;
}

.s3 {
    letter-spacing: 2px;
}

.logo {
    height: 30px;
    width: 20%;
}

.logo i {
    color: white;
}

button {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-color: transparent;
}

.nav {
    height: 80px;
    width: 100%;
    display: flex;
}

.nav .logo {
    height: 80px;
    width: 20%;
}

.logo img {
    width: 100%;
}

.navi {
    height: 80px;
    width: 80%;
}

.navi .navi1 {
    height: 80px;
    width: 100%;
    display: flex;
}

.navi .navi2 {
    list-style: none;
    padding: 10px 20px;
    line-height: 60px;
}

.video {
    height: 800px;
    width: 100%;
}

.info {
    height: 80px;
    width: 100%;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 80px;
    padding-left: 30%;
}

.paper {
    height: 500px;
    width: 100%;
    display: flex;
}

.p1 {
    height: 400px;
    width: 40%;
    text-align: justify;
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: 3px;
    font-size: 20px;
}

.p2 {
    height: 400px;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.content {
    height: 500px;
    width: 100%;
    display: flex;
}

.content p {
    margin-left: 5%;
    font-size: 20px;
    color: brown;
    font-weight: bold;
    width: 40%;
}

.c1 {
    height: 500px;
    width: 50%;
    /* margin-top: 3%; */
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: brown;
    font-weight: bold;
}

.c1 .first {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    /* padding-bottom: 0%; */
    font-weight: lighter;
    text-align: left;
}

.first .firstlist {
    padding-bottom: 2%;
    margin-top: 2%;
}

.c2 {
    height: 500px;
    width: 50%;
}

.c2 img {
    text-align: center;
    height: 150px;
    width: 100%;
}

.td1 {
    padding: 10px;
}

.td2 {
    padding: 0px 0px 0px 50%;
}

.td3 {
    color: brown;
    padding-left: 50%;
    width: 100%;
}